{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

<div class="row">
  <form method="post"   onSubmit="if(!confirm('Stop currently playing audio. Are you sure?')){return false;}" >
    <label for="song"/>
    <input class="button-primary" style="display: flex; justify-content: center;" id="stopaudio" name="stopaudio" type="submit" value="Stop Audio" >
  </form>
  <form method="post"   onSubmit="if(!confirm('Play Sea Shanty. Are you sure?')){return false;}" >
    <label for="song"/>
    <input class="button-primary" id="song" name="song" type="submit" value="Sea Shanty">
  </form>
  <form method="post"   onSubmit="if(!confirm('Play Sea Shanty on REPEAT. Are you sure?')){return false;}" >
    <label for="song"/>
    <input class="button-primary" id="song_repeat" name="song_repeat" type="submit" value="Repeat Sea Shanty">
  </form>
</div>

<form method="post">
  <input class="button" id="fish_fact" name="fish_fact" type="submit" value="Random Fish Fact">
</form>

<form method="post">
  <p>Pre-Typed Messages</p>
  <label for="pretyped">
    <span class="label-body">
      <input type="radio" id="pretyped" name="pretyped" value="1">
      Happy Halloween!
    </span>
  </label>
  <label>
    <span class="label-body">
      <input type="radio" id="pretyped" name="pretyped" value="2">
      What are you looking at?
    </span>
  </label>
  <label>
    <span class="label-body">
      <input type="radio" id="pretyped" name="pretyped" value="3">
      This is my life now.
    <span>
  </label>

  <input class="button-primary" type="submit" value="Submit">
</form>


<form method='post'>
  <label for="fishmessage">Message</label>
  <textarea id="fishmessage" name="FishMessage" class="u-full-width"></textarea>
  <input class="button-primary" type="submit" value="Fish Speak">
</form>

<br>
<br>
<br>
<div class="row">
  <form method="post"   onSubmit="if(!confirm('Enable usage for all users. Are you sure?')){return false;}" >
    <input class="button-primary" style="display: flex; justify-content: center;" id="enable" name="enable" type="submit" value="Enable Users" >
  </form>
  <form method="post"   onSubmit="if(!confirm('Disable usage for all users. Are you sure?')){return false;}" >
    <input class="button-primary" id="disable" name="disable" type="submit" value="Disable Users">
  </form>
</div>

{% endblock %}
